@import "../abstracts/media-queries.scss";

// Vars
:root {
  --c-primary: #cbea95;
  --c-secondary: #0f273e;

  --c-bg: var(--c-primary);
  --c-border: #ccc;
  --c-link: #0d6efd;
  --c-text: var(--c-secondary);
}

.dark {
  --c-primary: #0f273e;
  --c-secondary: #cbea95;

  --c-bg: var(--c-primary);
  --c-border: #6c6c6c;
  --c-link: #00c2ff;
  --c-text: var(--c-secondary);
}

// Select cursor text color
::-moz-selection { /* Code for Firefox */
  color: var(--c-primary);
  background: var(--c-secondary);
}

::selection {
  color: var(--c-primary);
  background: var(--c-secondary);
}

// Styles

body {
  background-color: var(--c-bg);
  font-family: system-ui, sans-serif;
  color: var(--c-text);
  margin: 0rem;
}

.logo {
  font-weight: 700;
  border-radius: .25rem;
  padding: .1rem .25rem;

  &:hover {
    cursor: pointer;
    background-color: var(--c-secondary);
    color: var(--c-primary);
  }
}

.theme-toggle {
  text-align: end;
  line-height: 0rem;
  padding: 0 1rem;

  &__icon {
    cursor: pointer;
    color: var(--c-text);
  }
}

// Components

.header {
  align-items: center;
  border-bottom: thin solid;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  justify-content: space-between;
}

.container {
  padding: 0rem 2rem;
  margin: 0rem auto;
  width: 100%;
  max-width: 96rem;
  box-sizing: border-box;

  @include sm {
    padding: 0rem 1rem;
  }
}

.post {
  margin: 4rem 0rem;
  outline: thin solid;
  padding: 5rem;

  @include md {
    margin-top: 2rem;
    padding: 2rem;
  }

  @include sm {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }

  &__title {
    font-size: 4rem;
    margin: 0rem;

    @include md {
      font-size: 3rem;
    }

    @include sm {
      font-size: 2rem;
    }
  }

  &__sub-title {
    font-size: 1.25rem;
    margin: 0rem;
  }

  &__hr-line {
    background-color: currentcolor;
    color: inherit;
    display: block;
    height: .25rem;
    border: none;
  }

  &__hr-stripe {
   background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 12px);
   padding: 0px;
   aspect-ratio: 12 / 1;
   border: 0px none;
   display: block;
   color: inherit;

    @include lg {
      aspect-ratio: 8 / 1;
    }

    @include md {
      aspect-ratio: 6 / 1;
    }

  }

  &__text {
    line-height: 1.5;
    font-size: 1.25rem;

    @include md {
      font-size: 1rem;
    }
  }

  &__pre {
    margin: 1rem 0.1rem;
    padding: 1rem;
    box-shadow: currentcolor 0px 0px 0px 1px;
    font-weight: 600;
  }
}

.blockquote {
  margin: 0rem;
  padding-left: 1rem;
  border-left: .30rem solid;
  font-size: 1.25rem;

    @include md {
      font-size: 1.15rem;
    }

    @include sm {
      font-size: 1.05rem;
    }

  &__text {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .5rem;

    @include md {
      font-size: 1.5rem;
    }

    @include sm {
      font-size: 1.2rem;
    }
  }
}

.blocks-colors {
  gap: 1px;
  display: flex;
  flex-direction: row-reverse;
  -moz-box-align: stretch;
  align-items: stretch;

  &__block {
    -moz-box-flex: 1;
    flex-grow: 1;
    background-color: currentcolor;
    height: 2rem;
    color: currentcolor;

    // Generating opacity from 0.1 to 1.0
    @for $i from 1 through 10
    {
      &--#{$i} {
        opacity: 0.1*$i;
      }
    }
  }
}
