body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ma-title {
  padding: 0rem 1rem;
}
.ma-nav {
  margin: 0rem 1rem;

  &__list {
    list-style-type: none;
    padding: .5rem 0rem;
    margin: 0rem;
    display: flex;
    border-bottom: 1px solid #ccc;
  }

  &__item {
    padding: .5rem 1rem;
    text-decoration: none;
    color: #0d6efd;

    &--active {
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      border-bottom: 0px;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      padding: .5rem 1rem .56rem;
    }
  }

}
